.idea/
modules/__pycache__/
__pycache__/
kmeans_anchors/
data/_test.py
logs/
/out/
/map_out

*.jpg
*.png
*.txt
*.pt
*.pth
*.pkl
**.onnx
*.trt
.pyc


experiment/area_detection.yaml
/test.py
/area_detection.mp4
