.idea/
modules/__pycache__/
__pycache__/
kmeans_anchors/
data/_test.py
logs/
/out/
/map_out

*.jpg
*.jpeg
*.png
*.txt
*.pt
*.pth
*.pkl
**.onnx
*.trt
.pyc
*.mp4
*.avi
/onnx/onnx_simplifier.py

experiment/area_detection.yaml
/test.py
/area_detection.mp4

docs/YOLOv3.pdf
/test/.pytest_cache/
/log/
